@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #D4DAB8;
    height: 100vh;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/c3085d101307167.5f1baa33d57fe.gif");
    background-position: right bottom;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{        
    width: 540px;
    height: 63px;
    margin-top: 40px;
    margin-bottom: 47px;
    
}
.titulo h1 {
    color: #75B79E;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
}

.memory-cards {        
    width: 50%;
    height: 400px;
    
    margin: auto;
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;

}  

.card {     
    width: 117px;
    height: 146px;
    position: relative;   
    margin: 5px;
    border: 1px solid #F09085;
    border-radius: 5px;

    transform-style: preserve-3d;
    transform: scale(1);
    transition: all .5s;
}
.card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }

.card.flip{
transform: rotateY(180deg);
}

.front-card,
.back-card{
 width: 100%;
 height: 100%;
 position: absolute;
 border: 1px solid #F09085;
 border-radius: 5px;
 backface-visibility: hidden;
}
.front-card {
    transform: rotateY(180deg);
  }

  @media (max-width: 614px) {
    body {
        background-image: none;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .titulo {
        width: 50%;
        height: 50%;
        
    }
    .titulo h1 {
        color: #75B79E;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
       
    }
}